<div class="about">
   This application was developed as a part of my master's thesis at Zagreb University of Applied Sciences in summer of 2022. 
   It's hacky and very much rushed but looking at the code now I'm surprised at how well it works (sometimes).
   I learned a lot developing it and have learned a lot more since.
   <iframe width="560" height="315" src="https://www.youtube.com/embed/SJUhlRoBL8M?si=_azaCqimtjOz3Qjz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
</div>
