* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
* {
  margin: 0 auto;
}
.tapContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.closeButton {
  position: absolute;
  left: 1em;
  height: 40px;
}

.metronome {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 60%;
  justify-content: space-between;
}
.bpm-display {
  width: 100%;
  text-align: center;
  color: #3f51b5;
  font-weight: bold;
}
.bpm-display .tempo {
  font-size: 4em;
}
.tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}
.tempo-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tempo-settings .adjust-tempo-btn {
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}
.tempo-settings .adjust-tempo-btn:hover {
  background-color: #3f51b5;
  color: #fff;
}
.tempo-settings .decrease-tempo {
  line-height: 25px;
  margin-right: 15px;
}
.tempo-settings .increase-tempo {
  line-height: 30px;
  margin-left: 15px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 70%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3f51b5;
  cursor: pointer;
  margin-top: -8px;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3f51b5;
  cursor: pointer;
  border: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.start-stop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0.7em;
  text-align: center;
  background-color: #ddd;
  color: black;
  line-height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
.start-stop:hover {
  background-color: #3f51b5;
  color: white;
}
.measures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.measures .stepper {
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}
.measures .stepper:hover {
  background: #3f51b5;
  color: #fff;
}
.measures .add-beats {
  line-height: 30px;
}
.measures .subtract-beats {
  line-height: 27px;
}
.measures .measure-count {
  text-align: center;
  font-size: 2em;
  line-height: 35px;
  text-transform: uppercase;
}
