<div *ngIf="!settingsService.showTapTempo$.getValue()" #container class="container">
  <div  class="metronome">
    <div class="bpm-display">
      <span class="tempo"> {{bpm}} </span>
      <span class="bpm"> BPM </span>
    </div>
    <div class="tempo-text">{{tempoTextString}}</div>
    <div class="tempo-settings">
      <div #deacreaseTempoBtn class="adjust-tempo-btn decrease-tempo">-</div>
      <input #slider [value]="bpm" type="range" min="20" max="280" step="1" />
      <div #increaseTempoBtn class="adjust-tempo-btn increase-tempo">+</div>
    </div>
    <div #startBtn class="start-stop">START</div>
    <div class="measures">
      <div #decreaseMeasureCountBtn class="subtract-beats stepper">-</div>
      <div class="measure-count">{{ beatsPerMeasure }} / 4 </div>
      <div #increaseMeasureCountBtn class="add-beats stepper">+</div>
    </div>
  </div>

</div>

<button class="closeButton" *ngIf="settingsService.showTapTempo$.getValue()" (click)="close()" mat-icon-button mat-dialog-close>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div #tapContainer class="tapContainer" *ngIf="settingsService.showTapTempo$.getValue()">
  <div class="tapTempoText">
    <p>Tap or click any key to get BPM!</p>
    <div class="bpm">{{ bpm }}</div>
    <div class="bpm-text">BPM</div>
  </div>
</div>
