@use "sass:map";
@use "@angular/material" as mat;

$toona-light-primary: mat.define-palette(mat.$blue-palette, 800);
$toona-light-accent: mat.define-palette(mat.$green-palette, 800);
$toona-light-warn: mat.define-palette(mat.$red-palette);

$toona-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $toona-light-primary,
      accent: $toona-light-accent,
      warn: $toona-light-warn,
    ),
  )
);
