@use "sass:map";
@use "@angular/material" as mat;

@use "../typography/config" as typography;
@use "../components";

$toona-dark-primary: mat.define-palette(mat.$purple-palette);
$toona-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$toona-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$toona-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $toona-dark-primary,
      accent: $toona-dark-accent,
      warn: $toona-dark-warn,
    ),
  )
);

$toona-dark-success: mat.define-palette(mat.$light-green-palette);
$toona-dark-info: mat.define-palette(mat.$light-blue-palette);

.dark-theme {
  @include mat.core-color($toona-dark-theme);
  @include mat.button-color($toona-dark-theme);
  @include components.theme(
    $toona-dark-theme,
    typography.$toona-typography,
    null
  );
}
