@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  h2 {
    color: mat.get-color-from-palette($primary-palette, 700) !important;
  }

  h2.correctFreq {
    color: mat.get-color-from-palette($accent-palette, 600) !important;
  }

  .freqContainer h3 {
    color: mat.get-color-from-palette($primary-palette, 500);
  }

  .ngx-slider {
    font-family: "Digital";
  }
  .custom-slider .ngx-slider .ngx-slider-bubble {
    font-size: 1.5em !important;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    background: mat.get-color-from-palette($primary-palette, 400);
    height: 7px;
    border: 1px solid mat.get-color-from-palette($primary-palette, 900);
    border-radius: 5px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 11px!important;
    height: 22px;
    bottom: 0;
    background-color: mat.get-color-from-palette($primary-palette, 900);
    border-radius: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 25px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    font-size: 20px !important;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    background: mat.get-color-from-palette($accent-palette, 800);
    height: 35px;
    width: 8px;
    top: -11px;
    left: -8.5px;
    border-radius: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-ticks {
    color: black !important;
  }

  .mat-fab {
    background-color: mat.get-color-from-palette(
      $primary-palette,
      700
    ) !important;
    font-family: "Digital";
  }
  .mat-fab {
    &.cdk-focused {
      background-color: mat.get-color-from-palette(
        $accent-palette,
        600
      ) !important;
    }
  }
}

@mixin typography($typography-config) {
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
