
<div class="container">
  <canvas class="responsive"></canvas>
  <div class="displayContainer">
    <h2 #noteDisplay>{{ closestNote.note }}</h2>
  </div>
  <div class="freqContainer">
    <h3>
      {{ closestNote.freq ? closestNote.freq : 0 }} H<span
        style="font-size: 0.6em"
        >z</span
      >
    </h3>
    <div class="custom-slider">
      <ngx-slider #freqSlider [(value)]="frequency" [options]="options"></ngx-slider>
    </div>
  </div>
  <mat-button-toggle-group name="buttons">
    <button
      class="noteButton"
      *ngFor="let note of tuning"
      (click)="selectString(note)"
      mat-fab
    >
      {{ note.note }}
    </button>
  </mat-button-toggle-group>
</div>

