.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.displayContainer {
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freqContainer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.responsive {
  width: 80vw;
  border:0.5px solid red;
  position: fixed;
}

ngx-slider {
  margin-top: 9vh;
  width: 75vw;
}

.displayContainer h2 {
  font-family: "Digital";
  font-size: 35vh;
  color: currentColor;
}

.freqContainer h3 {
  font-family: "Digital";
  font-size: 8vh;
}

mat-button-toggle-group {
  margin-top: 8vh;
  border: none;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 15vh;
  margin-bottom: 11vh;
  flex-wrap: wrap;
}

.noteButton {
  margin-right: 1.5vw;
  margin-top: 1vh;
}
