.canvasContainer {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#responsive {
  display:block;
  margin-top: -24%;
  width:50%;
  height:50%;
}
.test {
  width: 50px;
  height: 400px;
  background: red;
  display: flex;
  justify-content: center;
}
.rot {
  -webkit-transform: blue;
}
.gaugeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gaugeContainer > h1 {
  margin-top: 2em;
}
.mat-fab  {
  background-color: white;
  border: 0.5px solid black;
  color: black;
  margin-right: 0.5em;
}
mat-button-toggle-group {
  border: none;
}
.cdk-focused {
  background-color: green;
}
.buttons {
  margin-top: 5em;
  display:flex;
  justify-content: center;
  gap: 1%;
}
:host .mat-raised-button {
  color: red;
  border-radius: 50%;
}
