.container {
  height: 90%;
}
.displayContainer {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displayContainer h2 {
  font-family: "Digital";
  font-size: 20em;
}
/* .mat-fab  {
  background-color: white;
  border: 0.5px solid black;
  color: black;
  margin-right: 0.5em;
} */
mat-button-toggle-group {
  border: none;
}
/* .cdk-focused {
  background-color: green;
} */
.buttons {
  margin-top: 5em;
  display:flex;
  justify-content: center;
  gap: 1%;
}
:host .mat-raised-button {
  color: red;
  border-radius: 50%;
}
