// _alert-theme.scss

@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $secondary-palette: map.get($color-config, "secondary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

    .mat-list-item {
      font-family: 'Raleway';
      font-size: 25px!important;
    }

    .mat-toolbar {
        font-size: 30px;
        font-weight:bold;
    }

    .mat-drawer-container {
      background-color: unset
    }

    .mat-toolbar {
        background-color: mat.get-color-from-palette($primary-palette)
    }

    .mat-icon-button{
        color: white;
    }

    .mat-simple-snackbar {
        font-size: 15px!important;
    }

    .mat-simple-snackbar .mat-button-wrapper {
        font-size: 20px!important;
        color: mat.get-color-from-palette($primary-palette, 700);
    }

    
    // .dark-theme {
    //     .mat-icon-button {
    //         color: red!important;
    //     }
    // }
}

@mixin typography($typography-config) {
  .alert {
    .alert-heading {
      @include mat.typography-level($typography-config, "title");
    }
    .alert-footer {
      @include mat.typography-level($typography-config, "caption");
    }
  }
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
