@import '~@angular/material/theming';

@mixin test($theme) {
    
    .displayContainer h2 {
        color: mat-color($toona-pwa-primary);
    }

    mat-button-toggle-group > .mat-fab {
        background-color: white!important;
    }

    mat-button-toggle-group > .cdk-focused {
        background-color: mat-color($toona-pwa-accent)!important;
    }
}