

@use '@angular/material' as mat;

@import '~@angular/material/theming';
@import './components.scss';


@include mat.core();


$toona-pwa-primary: mat.define-palette($mat-blue-grey,A700);
$toona-pwa-accent: mat.define-palette($mat-green,A400);

$toona-pwa-warn: mat.define-palette(mat.$red-palette, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $toona-pwa-theme: mat.define-light-theme((
//   color: (
//     primary: $toona-pwa-primary,
//     accent: $toona-pwa-accent,
//     warn: $toona-pwa-warn,
//   )
// ));
$toona-pwa-theme: mat-light-theme($toona-pwa-primary, $toona-pwa-accent, $toona-pwa-warn);
$primary: mat-color($toona-pwa-primary);
$accent: mat-color($toona-pwa-accent);
$warn: mat-color($toona-pwa-warn);

$toona-dark-primary: mat-palette($mat-blue-gray, 50);
$toona-dark-accent: mat-palette($mat-blue, 400, 600, 800);
$toona-dark-warn: mat-palette($mat-deep-orange);
$toona-dark-theme: mat-dark-theme($toona-dark-primary, $toona-dark-accent, $toona-dark-warn);

@include angular-material-theme($toona-pwa-theme);
[theme='light'] {
  @include angular-material-theme($toona-pwa-theme);
  @include test($toona-pwa-theme);
}
[theme='dark'] {
  @include angular-material-theme($toona-dark-theme);
  @include test($toona-dark-theme);
}
@include test($toona-pwa-theme);




