@use "@angular/material" as mat;

@use "./styles/themes/light";
@use "./styles/components";
@use "./styles/typography/config" as typography;

@include mat.core(typography.$toona-typography);
@include mat.core-theme(light.$toona-light-theme);
@include mat.all-component-themes(light.$toona-light-theme);
@include components.theme(
  light.$toona-light-theme,
  typography.$toona-typography,
  null
);

html, body { height: 100%; }
body { margin: 0; font-family: Raleway, sans-serif!important; }

@font-face {
    font-family: "Digital";
    src: local("Digital"), url(./assets/fonts/digital.ttf) format("truetype");
}