@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .mat-list-item {
    font-family: "Raleway";
    font-size: 25px !important;
  }

  ::-webkit-scrollbar {
    width: 7px;
    overflow-y: scroll;
    background: grey;
  }

  .mat-select-panel-wrap {
    position: relative !important;
    //top: 50px!important;
  }

  .mat-optgroup {
    font-family: "Raleway";
  }

  .mat-option {
    font-family: "Raleway";
  }

  .mat-optgroup-label {
    font-family: "Raleway";
    height: 30px !important;
    font-weight: bold !important;
    line-height: unset !important;
    text-transform: uppercase;
    font-size: 20px !important;
    // padding-top: 5px;
    padding-top: 10px !important;
    border-bottom: 1px solid mat.get-color-from-palette($primary-palette, 400) !important;
    text-align: center !important;
    background-color: mat.get-color-from-palette($primary-palette, 700);
  }

  .mat-option:last-child {
    border-bottom: 1px solid mat.get-color-from-palette($primary-palette, 400) !important;
  }

  .mat-form-field {
    font-family: "Raleway";
  }

  .mat-select-panel-wrap .mat-select-panel {
    max-width: unset!important;
    min-width: calc(100% + 52px) !important;
    width: 30vw !important;
    position: absolute !important;
    top: 48px !important;
    left: 0 !important;
    min-height: 50vh!important;
   
  }

  .mat-select-placeholder {
    //transition: unset !important;
    -webkit-text-fill-color: unset !important;
    color: white !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    transform: unset!important;
  }

  ::-webkit-scrollbar-thumb {
    background: mat.get-color-from-palette($primary-palette, 600) !important;
    border-radius: 10px;
  }
  .mat-dialog-container {
    background: #303030;
    color: white;
  }
  .mat-option {
    white-space: normal !important;
    line-height: normal !important;
  }

  .mat-select-value {
    white-space: normal !important;
    line-height: normal !important;
  }

  .mat-select-value-text {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  } 

  .mat-select{
    min-width: fit-content!important;
  }
  .mat-form-field-underline {
    display: none !important;
  }

  .update-icon {
    color: mat.get-color-from-palette($warn-palette, 400) !important;
  }

  .mat-dialog-container .mat-dialog-title {
    color: mat.get-color-from-palette($primary-palette, 400) !important;
  }

  .mat-toolbar {
    font-size: 30px;
    font-weight: bold;
  }

  .mat-drawer-container {
    background-color: unset;
  }

  .mat-select-arrow-wrapper {
    padding-left: 0.5vw!important;
  }

  .dark-theme {
    .mat-drawer {
      background-color: #303030;
    }
    .mat-toolbar {
      color: white;
    }
    .mat-list-item-content {
      color: white;
    }
  }

  :not(.dark-theme) {
    .mat-select-arrow {
      color: white !important;
    }
    .mat-select-value-text {
      color: white!important;
    }
  }

  .mat-toolbar {
    background-color: mat.get-color-from-palette($primary-palette);
  }

  .mat-icon-button {
    color: white;
  }

  .mat-simple-snackbar {
    font-size: 15px !important;
  }

  .mat-simple-snackbar .mat-button-wrapper {
    font-size: 20px !important;
    color: mat.get-color-from-palette($primary-palette, 700);
  }
}

@mixin typography($typography-config) {
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
