<div
  [style.display]="(settingsService.showTapTempo$ | async) ? 'none' : 'flex'"
  #container
  class="container"
>
  <div class="metronome">
    <div class="bpmDisplay">
      <span class="tempo"> {{ bpm }} </span>
      <span class="bpm"> BPM </span>
    </div>
    <div class="tempoText">{{ tempoTextString }}</div>
    <div class="tempoSettings">
      <ngx-slider
        (valueChange)="updateMetronome()"
        [(value)]="bpm"
        [options]="metronomeOptions"
      ></ngx-slider>
    </div>

    <div class="tempoButtons">
      <button
        (click)="decreaseTempo()"
        mat-fab
        class="adjustTempoBtn decreaseTempo"
      >
        <mat-icon style="line-height: 14%">minimize</mat-icon>
      </button>
      <button
        (click)="increaseTempo()"
        mat-fab
        class="adjustTempoBtn increaseTempo"
      >
        <mat-icon style="line-height: 67%">add</mat-icon>
      </button>
    </div>
    <button mat-fab class="startStop" (click)="startMetronome()">
      {{ isRunning ? "STOP" : "START" }}
    </button>
    <div class="measures">
      <button
        mat-fab
        (click)="subtractBeats()"
        class="subtractBeats stepper"
      >
      <mat-icon style="line-height: 11px">minimize</mat-icon>
      </button>
      <div class="measureCount">{{ beatsPerMeasure }} / 4</div>
      <button
        mat-fab
        (click)="addBeats()"
        class="addBeats stepper"
      >
        <mat-icon style="line-height: 38%">add</mat-icon>
      </button>
    </div>
  </div>
</div>

<button
  class="closeButton"
  *ngIf="settingsService.showTapTempo$ | async"
  (click)="close()"
  mat-icon-button
>
  <mat-icon class="closeTapTempo">keyboard_arrow_left</mat-icon>
</button>
<div
  [@flyIn]
  #tapContainer
  class="tapContainer notSelectable"
  *ngIf="settingsService.showTapTempo$ | async"
>
  <div class="tapBpmDisplay notSelectable">
    <h1 class="notSelectable">{{ tapTempoMsg }}</h1>
    <span class="tempo notSelectable">{{ bpm }}</span>
    <span class="bpm notSelectable">BPM</span>
  </div>
</div>
