* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.tapContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94vh;
}
.closeButton {
  position: absolute;
  left: 0.5em;
  height: 40px;
}

.metronome {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 65vh;
  justify-content: space-between;
}
.bpm-display {
  text-align: center;
  font-weight: bold;
}
.bpm-display .tempo {
  font-size: 4em;
}
.bpm-display h1 {
  font-size: 3em;
  margin-bottom: 1em;
  width: 75vw;
}
.tap-bpm-display {
  text-align: center;
  font-weight: bold;
  height: 62vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 3vh;
}
.tap-bpm-display .tempo {
  font-size: 7em;
}
.tap-bpm-display .bpm {
  font-size: 4em;
  margin-top: 0.7em;
}
.tap-bpm-display h1 {
  font-size: 3em;
  margin-bottom: 1em;
  line-height: 1em;
  margin-top: -1.5em;
}
.tempo-text {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}
.tempo-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tempo-settings .adjust-tempo-btn {
  width: 48px;
  height: 48px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  line-height: 40px !important;
}

.start-stop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1em;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
.measures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.measures .stepper {
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 50%;
  border: 1.5px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.measures .add-beats {
  line-height: 30px;
}
.measures .subtract-beats {
  line-height: 24px;
}
.measures .measure-count {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.ngx-slider {
  margin-top: 23px !important;
  width: 70vw !important;
}
.addAnimation {
  animation: animateBackground 0.2s;
}
