<div class="container">
  <h1>Settings</h1>

  <span>
    <mat-label style="margin-right: 2em">Select your instrument: </mat-label>
    <mat-form-field>
      <mat-label>Instrument</mat-label>
      <mat-select
        [(ngModel)]="selectedInstrument"
        (ngModelChange)="setInstrument()"
        name="instrument"
      >
        <mat-option *ngFor="let instrument of instruments" [value]="instrument">
          {{ instrument.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >

  <span>
    <mat-label style="margin-right: 2em">Pick a tuning: </mat-label>
    <mat-form-field>
      <mat-label>Tuning</mat-label>
      <mat-select
        [(ngModel)]="selectedTuning"
        (ngModelChange)="setTuning()"
        name="tuning"
      >
        <mat-option
          [disabled]="!selectedInstrument"
          *ngFor="let tuning of tunings"
          [value]="tuning"
        >
          {{ tuning.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >

  <button mat-raised-button color="primary" (click)="saveSettings()">
    Save
  </button>
</div>
